body{
	background-color: #fdf6e3;
}

header{
  font-size: 2em;
}

#logo{
  border: 2px solid #d04b16;
}

footer{
  font-size: 2em;
}

nav ul{
  font-family: sans-serif;
}
 
class wrapper{
  background-color: #eee8d5;
}

contents{
  color: #93a1a1;
}
favs{
   color: #93a1a1;
}
facts{
   color: #93a1a1;
}
 types{
    color: #93a1a1;
 }
  
ul>li{
   background-color: #b58900;
}
.dfn p + strong{
  color: #fff;
}
mark{
  background-color: #719e07;
}
rel="external"{
  background-color: #2694d8;
}

li:first-child {
    color: #719e47;
}
li:last-child {
   color: #2aa198;
 }
 
li:nth-child(odd) {
  background-color: #657ba3;
}
li:nth-child(even) {
  background-color: #586e75;
}
li:nth-child(3n) {
  background-color: #d04b16;
}
